.clickable {
	cursor: pointer;
}

.plain-container-wrap {
	background: var(--www-color-float-bg2);
	border-radius: 0.7rem;
	color: var(--primary-color1);
	margin-bottom: 1rem;
	cursor: default;
	/* height: 96px; */
}

.plain-container {
	display: flex;
	align-self: stretch;
	padding: 1rem;
	padding: 0.5rem;
	align-items: center;
	flex-grow: 1;
}
.plain-container span {
	font-weight: bold;
}
.plain-container .icons {
	display: flex;
	padding: 0;
	padding-top: 0.5rem;
	margin-bottom: 0;
}
.plain-container .icons a {
	height: 42px;
}
.plain-container .icons img {
	width: 32px;
	margin: 0.5rem 0.5rem;
}
.plain-text {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
}
.plain-text strong {
	font-family: "Inter-Bold", sans-serif;
	font-weight: bold;
}
.plain-text p {
	padding: 0.5rem 0 0 1rem;
}
.plain-text-full {
	padding: 0.5rem;
	padding-bottom: 1rem;
}
.plain-text-full p {
	padding: 0;
	padding-bottom: 0.5rem;
}
.plain-text-full p:last-child {
	padding: 0;
}
.plain-text-full p:first-child {
	padding-right: 24px;
}
.plain-text-full ul {
	padding: 0.5rem 0 0.5rem 0;
}
.plain-text-full li {
	list-style: inside;
	padding: 0 0 0.5rem 1rem;
}
.plain-heading {
	text-align: center;
	color: var(--primary-color2);
	padding: 0.5rem;
}
.plain-heading h3 {
	padding: 0.2rem;
	font-size: 1.2rem;
	color: var(--primary-color1);
}
.plain-heading h1 {
	padding: 0.1rem;
	font-size: 1.6rem;
}
.plain-heading p {
	font-size: 1rem;
	color: var(--primary-color1);
	font-weight: 300;
}
@media (min-width: 500px) {
	.plain-heading h3 {
		padding: 0.1rem;
		font-size: 1.4rem;
	}
	.plain-heading h1 {
		padding: 0.1rem;
		font-size: 1.6rem;
	}
}
.plain-heading p {
	font-size: 1.2rem;
}

/*
@media (min-width: 500px) and (max-height:415px) {

  .plain-heading h3 {
    padding: 0.1rem;
    font-size: 1.4rem;
  }
  .plain-heading h1 {
    padding: 0.1rem;
    font-size: 1.6rem;
  }

.plain-heading p {
  font-size: 1.2rem;
}
.plain-container {
  background: var(--www-color-float-bg2);
align-self:stretch;
  border-radius: 0.7rem;
  margin: 0rem 0.5rem;

}
}
*/
