.locate-me-icon {
  /* shadow: 1px 1px 2px 3px var(--primary-color1); */
  color: var(--primary-color1);
  margin: 0.5rem 0.5rem;
}

@media (min-width:500px) {
  .locate-me-icon {
    /* shadow: 1px 1px 2px 3px var(--primary-color1); */
    margin: 0.3rem 0.3rem 0.3rem 0rem;
    max-width: 2rem;
    max-height: 2rem;
  }
  
}