@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter-Bold";
	src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	width: 100vw;
	font-family: "Inter", sans-serif;
	color: var(--www-color-float-fg1);
	/* clip-path: 0 0 , 100% 0 , 100% 50%, 0 70%; */
}
::-webkit-scrollbar {
	width: 0.5rem;
	display: none;
}
