.sim-list-item {
	width: 100%;
	min-height: 3rem;
	display: flex;
	/* border-radius: 5px; */
}
.sim-list-item p {
	color: black;
}

.tile-entry {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 80%;
}
.tile-entry p {
	font-size: 1.2rem;
}
.sim-date p {
	font-size: 1rem;
	color: var(--meteo-text);
}

.hidden {
	display: none;
	pointer-events: none;
}
.icon-area {
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: left;
	color: var(--meteo-text);
	align-items: left;
	margin-right: 1rem;
}
.icon-area.status {
	display: flex;
	align-items: baseline;
	justify-self: flex-end;
	align-self: flex-end;
}
.sim-list-item:hover {
	background-color: #b9dff1;
	filter: drop-shadow(0px 0px 3px var(--neutral-color1));
}
.sim-list-item h3 {
	font-size: 1.8rem;
	color: black;
}

.sim-icon {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	transition: opacity 0.2s ease;
}

.sim-icon path {
	stroke: var(--meteo-text);
}
.sim-icon.icon-img.green path {
	fill: green;
	stroke: green;
}
.sim-icon.icon-img.blue path {
	fill: blue;
	stroke: blue;
}
.sim-icon.icon-img.red path {
	fill: red;
	stroke: red;
}

.sim-icon:hover path {
	stroke: var(--primary-color1);
}

.icon-img:hover {
	filter: drop-shadow(0px 0px 2px var(--neutral-color1));
}
