.modal-background {
	position: absolute;
	inset: 0rem;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 6001;
}
.CookieConsent {
	flex-direction: column;
	flex-wrap: unset !important;
	align-items: flex-end !important;
	justify-items: unset !important;
	justify-content: unset !important;
	flex-basis: content !important;
	background-color: rgba(255, 255, 255, 0.9) !important;
	color: var(--primary-color1) !important;
	border-radius: 0.5rem !important;
	box-shadow: 1px 1px 3px 1px rgb(60, 60, 60) !important;
	z-index: 10001 !important;
}
.CookieConsent div {
	flex: unset !important;
	background-color: transparent !important;
	color: var(--primary-color1) !important;
	z-index: 5001;
}

#iubenda-pp {
	z-index: 20000 !important;
}

.modal-content {
	display: flex;
	flex-direction: column;
	bottom: 0;
	padding: 1rem;
	color: white;
	z-index: 6002;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.modal-content p {
	font-size: 1.4rem;
	text-align: justify;
	line-height: 2.5rem;
}
.modal-content h1 {
	font-size: 2rem;
	text-align: center;
}
.modal-content a {
	font-size: 1.4rem;
	margin: 0rem 1rem;
}
.modal-button {
	display: flex;
	background-color: rgb(75, 74, 74);
	border-radius: 0.5rem;
	align-self: flex-end;
	box-shadow: 1px 1px 3px 1px rgb(60, 60, 60);
	height: 3rem;
	width: 7rem;
	align-items: center;
	justify-content: center;
}

.modal-button:hover {
	background-color: var(--primary-color2);
}
.modal-button p {
	color: white;
}
.iubenda-embed:not(.no-brand):not(.iubenda-nostyle).internal {
	padding-left: 20px !important;
	margin: 0rem 0.2rem !important;
}
.iubenda-embed:not(.no-brand):not(.iubenda-nostyle).internal:hover {
	box-shadow: 1px 1px 3px 1px black;
	padding-left: 20px !important;
	margin: 0rem 0.2rem !important;
}
@media (min-width: 500px) {
	.modal-content {
		display: flex;
		flex-direction: column;
		/* position: absolute; */
		bottom: 0;
		padding: 1vw;
		/* background-color: rgba(55, 53, 53, 0.73);*/
		color: white;
		z-index: 6002;
		align-content: center;
		align-items: center;
		justify-content: space-between;
	}
}
