/* @import "styles/index.css"; */
.color-bar {
	position: absolute;
	top: 0rem;
	bottom: unset;
	left: 0.5rem;
	z-index: 2000;
	user-select: none;
}
.color-bar-rect {
	width: 1.8rem;
	height: 1.8rem;
	position: relative;

	/* border-right: 1px solid black;
    border-left: 1px solid black; */
}
.color-bar-wrapper {
	background-color: transparent;
	width: 4.2rem;
	display: flex;
	flex-wrap: nowrap;
	user-select: none;
}
.color-bar-colors {
	display: flex;
	flex-direction: column;
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
	width: 2rem;
	z-index: 2001;
	border: 1px solid black;
	height: auto;
	max-height: fit-content;
	justify-content: center;
}
.color-bar-p p {
	text-align: left;
	justify-self: center;
	font-weight: 600;
}
.color-bar.left {
	bottom: unset;
	top: 0rem;
	right: unset;
	left: 0.5rem;
}
.color-bar.right {
	bottom: 3rem;
	left: unset;
	right: 0.5rem;
}
.color-bar-texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.color-bar-texts p {
	font-family: "Inter-Bold", sans-serif;
	font-weight: 600;
	text-align: center;
	text-justify: center;
}
.color-bar-p {
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: left;
	font-weight: 600;
	margin-left: 0.5rem;
}
.color-bar.right .color-bar-wrapper {
	display: flex;
	justify-content: right;
}
.color-bar.left .color-bar-wrapper {
	display: flex;
	align-content: flex-start;
	align-items: flex-end;
}
.color-bar.left .color-bar-texts {
	align-items: flex-end;
}
.color-bar.right .color-bar-texts {
	align-items: flex-start;
}
.color-bar.left .color-bar-colors {
	flex-grow: 0;
}
.color-bar.right .color-bar-colors {
	flex-grow: 0;
}
.color-bar.right .color-bar-p {
	width: 100%;
	text-align: right;
	margin-left: unset;
	margin-right: 0.5rem;
	justify-content: right;
}
.color-bar.left .color-bar-p {
	width: 100%;
	text-align: left;
	margin-left: 0.5rem;
	margin-right: unset;
	justify-content: left;
}
.color-bar.right .color-bar-p p {
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	align-self: right;
	margin-right: 0.5rem;
}
.color-bar.left .color-bar-p p {
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	align-self: left;
	margin-left: 0.5rem;
}
@media (min-width: 500px) {
	.color-bar {
		position: absolute;
		top: unset;
		bottom: 0rem;
		left: 1rem;
		z-index: 2000;
	}
	.color-bar-rect {
		width: 1.8rem;
		height: 1.8rem;
		/* border-right: 1px solid black;
        border-left: 1px solid black; */
	}
	.color-bar-wrapper {
		background-color: transparent;
		/* width: 4.2rem; */
		display: flex;
	}
	.color-bar-colors {
		display: flex;
		flex-direction: column;
		margin-top: 0.9rem;
		margin-bottom: 0.9rem;
		width: 2rem;
		z-index: 2001;
		border: 1px solid black;
		height: 100%;
	}
	.color-bar-texts {
		display: flex;
		flex-direction: column;
	}
	.color-bar-texts p {
		font-family: "Inter-Bold", sans-serif;
		font-weight: 600;
		text-align: left;
		justify-self: center;
	}
	.color-bar-p {
		width: 11rem;
		height: 1.8rem;
		/* position: absolute;
        bottom: 0;
        right: -2rem; */
		display: flex;
		align-items: center;
		text-align: left;
		font-weight: 600;
		margin-left: 0.5rem;
	}
	.color-bar-p p {
		text-align: left;
		justify-self: center;
		font-weight: 600;
	}
	.color-bar.right {
		bottom: 0rem;
		left: unset;
		right: 0.5rem;
	}
	.color-bar.left {
		top: unset;
		bottom: 0rem;
		right: unset;
		left: 0.5rem;
	}
}
